/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-body);
  font-variation-settings: 'wght' var(--font-weight-body);
}


.header {
  margin-top: var(--header-margin-top);
  margin-inline: auto;
  inline-size: var(--header-inline-size);
  block-size: var(--header-block-size);
  border: 2px solid #000;
}

.header-container {
  text-align: center;
  font-family: var(--font-accent);
  font-weight: var(--font-weight-heading);
  padding: var(--header-padding-block) var(--header-padding-inline);
}

.header-title {
  font-size: var(--font-size-heading);
  font-variation-settings: 'wght' var(--font-weight-heading) 'size' var(--font-size-heading);
}

.header-subtitle {
  font-size: var(--font-size-subheading);
  margin-top: 20px;
  text-transform: uppercase;
  font-variation-settings: 'wght' var(--font-weight-heading) 'size' var(--font-size-subheading);
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 40px 20px;
}

@media (width <= 375px) {
  .header{
    inline-size: 100%;
    min-inline-size: 100%;

  }
}