/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-body);
  font-variation-settings: 'wght' var(--font-weight-body);
}


.header {
  margin-top: var(--header-margin-top);
  margin-inline: auto;
  inline-size: var(--header-inline-size);
  block-size: var(--header-block-size);
  border: var(--header-border-size) var(--header-border-type) var(--header-borde-color);
}

.header-container {
  text-align: center;
  font-family: var(--font-accent);
  font-weight: var(--font-weight-heading);
  padding: var(--header-padding-block) var(--header-padding-inline);
}

.header-title {
  font-size: var(--font-size-heading);
}

.header-subtitle {
  font-size: var(--font-size-subheading);
  margin-top: 20px;
  text-transform: uppercase;
}

.content-section {
  margin-top: 100px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--content-section-inline-size);
  gap: var(--content-section-gap);
}

.card {
  display: flex;
  flex-direction: column;
  border: var(--card-border-size) var(--card-border-type) var(--card-border-color);
}

.card-title {
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 24px;
  font-size: var(--card-title-font-size);
  font-weight: var(--card-title-font-weight);
  font-variation-settings: 'wght' var(--card-title-font-weight);
}

.image-container {
  width: 100%;
}

.card-image {
  display: block;
  object-fit: cover;
  width: 100%;
}

.card-content {
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
  border-top: var(--card-border-size) var(--card-border-type) var(--card-border-color);
}

.card-buttons-container {
  margin-right: 25px;
  margin-bottom: 25px;
}

.card-text:not(:last-child) {
  margin-bottom: 27px;
}

.card-buttons-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 25px;
  gap: 12px;
  block-size: 38px;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: var(--card-like-button-border-size) var(--card-like-button-border-type) var(--card-like-button-border-color);
  block-size: 38px;
  inline-size: 130px;
}

.button__text {
  font-family: var(--font-accent);
  font-size: var(--button-text-size);
  font-weight: var(--button-text-weight);
}

@media (width <= 375px) {
  .header{
    inline-size: 100%;
    min-inline-size: 100%;
    margin-inline: 0;
  }

  .content-section {
    inline-size: 100%;
    min-inline-size: 100%;
    margin-inline: 0;
  }


}